.icon-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;

}
.delete-button::before,
.delete-button::after   {
    content: '';
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.delete-button::before{
    transform: rotate(45deg);
}
.delete-button::after{
    transform: rotate(-45deg);
}

.delete-button:hover{
    background-color: rgba(255, 0, 0, 0.6);
}
.delete-button:active{
    background-color: rgba(227, 88, 88, .6);
}

.icon-button:active{
    border: 2px solid black;
}

.complete-button::before  {
    content: '';
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    rotate: -45deg;
    left: 29%;
    bottom: 39%;
}
.complete-button::after   {
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    rotate: 45deg;
    left: 3px;
    bottom: 6px;
}

.complete-button:hover{
    background-color: rgba(0, 128, 0, 0.6);
}
  

.complete{
    text-decoration: line-through;
}

.complete > button:nth-of-type(1){
    background-color: rgba(27, 213, 27, 0.6);
}



  