:root{
    --clr-dark: #0f0c0b;
    --clr-slate800: #0d1b2a;
    --clr-slate600: #1b263b;
    --clr-slate500:  #364b63;
    --clr-slate400: #415a77;
    --clr-slate300: #778da9;
    --clr-light: #e0e1dd;
}

.timer{
    position: relative;
    width: 100vmin;
    height: 50%;
    display: grid;
    place-items: center;

}

.clock{
    position: relative;
    border: 5px solid var(--clr-slate600);
    width: 60%;
    height: 30vmin;
    margin-top: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.time{

    font-size: 6rem;

}
h1{
    font-family: 'Courier New';
}

.utils{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.cycle{
    position: absolute;
    top: 0;
    right:-2rem;
}

.btn{
    font-size: 1.2rem;
    width: 150px;
    height: 65px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-slate800);
    color: var(--clr-light);
    padding: .5em 1em;
    border-radius: 6px;
    border-bottom: 4px solid var(--clr-slate500);
    font-family: 'Trebuchet MS';
    transition: all 0.1s ease-in;
    flex-shrink: 1;
    flex-grow: 0;
}


.btn:active{
    transform: translateY(4px);
    border: transparent;
}

.clock > button{
    position: absolute;
    right: 1rem;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.arrowDown::before,
.arrowDown::after,
.arrowUp::before,
.arrowUp::after{
    position:absolute;
    content: '';
    width: 15px;
    height: 3px;
    border-radius: 10px;
    background-color: #ccc;
}

.arrowDown::before,
.arrowUp::before{
    transform: rotate(45deg);
}

.arrowDown::after,
.arrowUp::after{
    transform: rotate(-45deg);
    left: -3px;
}

.arrowUp{
    transform: translateY(-1rem);
    background-color: aqua;
}
.arrowDown{
    transform: translate(-2px, 1rem) rotate(180deg);
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--clr-slate400);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--clr-slate300);
    transition: width 0.1s linear;
}


@media (max-width: 600px) {
    .time{
        font-size: 4rem;
    }
    .btn{
        width: 130px;
        height: 55px;
    }
}

@media (max-width: 495px) {
    .clock{
        width: 80%;
    }
}

@media (max-width: 400px) {

    

}
